nav {
    height: 100%;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 100;
    @apply bg-palette-50 dark:bg-black text-palette-900 dark:text-palette-400 pt-4 h-20 w-full;

    .dropdown-menu {
        @apply border-0 w-20 text-center mt-3;
        ;
    }

    .Dropdown-menu {
        @apply border-spacing-1 border-palette-400 mt-1;
    }

    .Dropdown-option,
    .is-selected {
        @apply bg-palette-50 dark:bg-black w-20 text-center cursor-pointer;

    }

    .Dropdown-control {
        @apply p-0 cursor-pointer;
    }

    .no-arrow {
        .Dropdown-arrow-wrapper {
            @apply hidden p-0;
        }
    }

    img {
        @apply rounded-full h-14 cursor-pointer;
    }

    svg {
        @apply mt-3;
        cursor: pointer;

        .MoonOutline {
            color: theme('colors.palette.800');
            /* Colore scuro desiderato */
        }

        .SunnyOutline {
            color: theme('colors.palette.400');
            /* Colore chiaro desiderato */
        }
    }

    .accordion {
        @apply mt-5;
    }

    .accordion__item {
        @apply mx-3 py-3 cursor-pointer text-center;
        border-bottom: 1px solid theme('colors.palette.800');
    }

    p {
        @apply text-xl dark:text-palette-400;

        @media (min-width: 768px) {
            @apply text-2xl;
        }
    }
}

.expand-nav {
    @apply h-60;
}