@mixin neon-text($color) {
    $neon-color: mix($color, #fff, 50%);
    $glow-color: mix($color, #ff00de, 50%);

    color: $neon-color;
    text-shadow: 0 0 10px $neon-color,
        0 0 20px $neon-color,
        0 0 30px $neon-color,
        0 0 40px $glow-color,
        0 0 70px $glow-color,
        0 0 80px $glow-color,
        0 0 100px $glow-color,
        0 0 150px $glow-color;

    &:hover {
        color: #fff;
        text-shadow: 0 0 10px $neon-color,
            0 0 20px $neon-color,
            0 0 30px $neon-color,
            0 0 40px $glow-color,
            0 0 70px $glow-color,
            0 0 80px $glow-color,
            0 0 100px $glow-color,
            0 0 150px $glow-color;
    }
}